<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="element-ui/index.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <title>企业微信推送</title>
  </head>

  <body>
    <div id="app">
      <div class="title-container">
        <div class="title">企业微信推送</div>
      </div>

      <div class="content">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>设置</span>
          </div>
          <el-form label-position="top" label-width="80px">
            <el-form-item label="企业ID (CorpId)">
              <el-input v-model="corpid"></el-input>
            </el-form-item>
            <el-form-item label="密钥 (Corpsecret)">
              <el-input v-model="corpsecret"></el-input>
            </el-form-item>
            <el-form-item label="应用ID (AgentId)">
              <el-input v-model="agentid"></el-input>
            </el-form-item>
            <el-form-item label="指定接收消息的成员 (touser)">
              <el-input v-model="touser"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="saveOptions()" icon="el-icon-edit"> 保存 </el-button>
            </el-form-item>
          </el-form>
        </el-card>
      </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="element-ui/index.js"></script>
    <script src="js/options.js"></script>
  </body>
</html>
